body {
  font-family: 'Ubuntu', sans-serif;
margin:0;
padding: 0;
}

#title {
  background-color: #ff4c68;
  margin: 0;
  padding: 0;
  height: 650px;
}



.heading {
  padding: 10% 0 15%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.image {
  margin-top: 8.2rem;
  transform: rotate(25deg);
  width: 300px;
  height: 500px;
  padding-left: 55px;
  margin-left: 100px;
  position: relative;
  top: -100px;

  right: 2%;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu';
  color: #fff;
}

.container-fluid {
  padding: 5% 12% 7%;
}

.navbar {
  background-color: (128, 128, 128, 0.5);
  font-weight: bold;
  padding: 0.1px;

}

.navbar-brand {
  font-size: 2.5rem;
  margin-left: 10px;;

}

.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
  font-weight: bold;
  ;
}

.download-button {
  right: 2%;
  text-align: center;
margin-left:1.2rem;
}

#features {
  padding: 7% 15%;
background-color: white;
position: relative;
margin-top: -100px;


}

.feature-box {
  text-align: center;
  padding: 0 40px;
}

.feature-box h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-box p {
  color: #8f8f8f;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
}
.carousel-item{
    padding: 7% 12%;
}

.text{
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Ubuntu'sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.img-dog {
  width: 10%;
  border-radius: 100%;
  margin: 15px;;
}
h2{
  font-weight: bold;

}
.card-deck{
  padding: 1rem;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.img-bottom {
  width: 15%;
  margin: 20px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 15px;
}

.testimonial-text {
  color: #fff;
  font-size: 3rem;
  font-family: 'Ubuntu'sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
#pricing{
  padding: 100px;
}
#pricing h3, h2, p{
  text-align: center;


}
.button1{
  align-content: center;

  margin-top: 40px;
 }
.card{
  margin-top: 20px;
}
#cta{
background-color: #ff4c68;
text-align: center;
color: #fff;
padding: 4.3rem;
font-family: 'Ubuntu' sans-serif;

}
#cta h3{
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: bold;
text-align: center;
padding: 50px;
}
.btm-button{
    margin: 30px 15px;
    position: relative;
    text-align: center;
    padding: 5px 10px;
}
#footer{
  color: grey;
  font-weight: normal;
font-family: 'Ubuntu' sans-serif;
padding: 3rem;
text-align: center;
}
#footer a{
  padding: 5px 10px;
  color: grey;
  text-align: center;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
    height: 1000px;
  }
  .navbar{
    text-align: center;

  }
  .heading{
    font-size: 2rem;
    text-align: center;
  }
  .download-button{
    text-align: center;
    margin: 5px 20px;
  }
  .image{
  position: relative;
  top:10px;
    transform: rotate(0);
    margin: 10px 0 0;
    height: 300px;
    width: 200px;
  text-align: center;
  }
  #cta h3{
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: bold;
  text-align: center;
  padding: 10px;
  }
  .btm-button{
      margin: 10px 15px;
      position: relative;
      text-align: center;
      padding: 8px 30px;
  }
  .navbar-brand{
margin-right: 150px;
position: relative;
left:100px;
margin-bottom: 10px;
font-size: 50px;
text-align: center;

  }

.navbar-toggler{
  position: relative;
  top:-80px;
}
.text{
  margin-top: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Ubuntu'sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.img-dog {
  width: 20%;
  border-radius: 100%;
  margin: 15px;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 15px;
}
#features {
  padding: 15% 15%;
background-color: white;
position: relative;
margin-top: -100px;
}
.feature-box{
  margin-top: 20px;
}
.img-bottom{
  width: 30%;
  margin: 20px;
}
}
